@model Portfolio.Models.ContactForm

@{
    ViewBag.Title = "Contact Form";
}

<h2 style="text-align:center">Enter Your Details</h2>

<form id="contactForm" action="@Url.Action("Index", "Contact")" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        

        
        
        <div class="FirstName">
            
            <br />  
             @Html.TextBoxFor(model => model.FirstName, new { @placeholder = "First Name" }) 
            <br /><div class="ErrorMessage">
            @Html.ValidationMessageFor(model => model.FirstName)
                </div>
            <br />
        </div>
            
        <div class="LastName">
            
       
            @Html.TextBoxFor(model => model.LastName, new { @placeholder = "Last Name" })
            <br /><div class="ErrorMessage">
            @Html.ValidationMessageFor(model => model.LastName)
                </div>
            <br />
        </div>
      

        
        <div class="Email">
            
            
            @Html.TextBoxFor(model => model.Email, new { @placeholder = "Email" })
            <br /><div class="ErrorMessage">
            @Html.ValidationMessageFor(model => model.Email)
                </div>
            <br />
        </div>

        <div class="Phone">
            
   
            @Html.TextBoxFor(model => model.Phone, new { @placeholder = "Phone No" })
            <br /><div class="ErrorMessage">         
            @Html.ValidationMessageFor(model => model.Phone)
                </div>
            <br />
        </div>
        

        <div class="Comment" style="text-align:center">
            
        
            @Html.TextAreaFor(model => model.Comment, new { @placeholder = "Comment" })
            <br /><div class="ErrorMessage">
            @Html.ValidationMessageFor(model => model.Comment)
                </div>
            <br />
        </div>

        <p style="text-align:center">
            <input type="submit" value="Submit""/>
        </p>
    </fieldset>
</form>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
